# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Arquivos de ambiente
.env

# Build / produção
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Banco de dados (se quiser ignorar)
*.sqlite
*.db